<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <h3 class="mb-4 text-center">{{ "signup.title" | translate }}</h3>
  <app-input
    [label]="'username.label' | translate"
    id="username"
    type="text"
    [placeholder]="'username.placeholder' | translate"
    [formControl]="signUpForm.controls['username']"
    [field]="'username'"
  ></app-input>
  <app-input
    [label]="'password.label' | translate"
    id="password"
    type="password"
    [placeholder]="'password.placeholder' | translate"
    [formControl]="signUpForm.controls['password']"
    [field]="'password'"
  ></app-input>
  <app-input
    [label]="'confirmPassword.label' | translate"
    id="confirmPassword"
    type="password"
    [placeholder]="'confirmPassword.placeholder' | translate"
    [formControl]="signUpForm.controls['confirmPassword']"
    [field]="'confirmPassword'"
  ></app-input>
  <!-- @if (signUpForm.errors && signUpForm.errors['fieldsMismatch'] &&
  (signUpForm.dirty || signUpForm.touched)) {
  <app-error-message
    [errorMessages]="['confirmPassword.mismatch' | translate]"
  ></app-error-message>
  } -->
  <button type="submit" class="btn btn-primary w-100 mt-3">
    {{ "signup.button" | translate }}
  </button>
  <div class="text-center mt-3">
    <a routerLink="/login">{{ "signup.toLogin" | translate }}</a>
  </div>
</form>
